In [2]:
import pandas as pd

In [3]:
# import vine dataset
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3LI5TRP3YIDQL,5.0,0.0,0.0,N,Y
1,R3LGC3EKEG84PX,5.0,0.0,0.0,N,Y
2,R9PYL3OYH55QY,5.0,0.0,1.0,N,Y
3,R3PWBAWUS4NT0Q,3.0,0.0,0.0,N,Y
4,R15LYP3O51UU9E,5.0,0.0,0.0,N,Y

In [4]:
vine_total_votes = vine_df[vine_df['total_votes'] >= 20]
vine_total_votes.sample(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
3616762,R1R9SSW7KIX01U,5.0,17.0,20.0,N,N
3586953,RAK52IP32TPB4,1.0,3.0,20.0,N,N
3683934,RQCMOM7XIDK4Y,1.0,4.0,47.0,N,N
2443080,RZRASNAMV4LLV,1.0,35.0,56.0,N,N
2995770,RXZKHN89QRC1S,4.0,93.0,108.0,N,N
3968437,R3OI81MOEV0H44,5.0,25.0,26.0,N,N
3776054,R1JSCCZ2UFS15O,3.0,11.0,34.0,N,N
2524700,R2P6OJ28ZFAS30,5.0,4.0,24.0,N,N
4352925,RPP7VHGKA0AR3,4.0,24.0,25.0,N,N
2495082,R19WJAX4A6FOLZ,4.0,30.0,32.0,N,Y
2233418,R3MKLVKSS466KC,5.0,20.0,23.0,N,Y
2942347,R3SLQ4DXDF0R7R,1.0,32.0,84.0,N,Y
3587775,R28MSUXY6YFZO0,5.0,151.0,157.0,N,N
3044592,R1ZPLHEVYC8VQM,3.0,3.0,21.0,N,N
3283132,R1OGB4OGIJCGM6,1.0,2.0,26.0,N,N
2882023,R19UIG57PV13L9,3.0,10.0,32.0,N,N
3036646,R2K7KP1AQHNAI2,5.0,34.0,38.0,N,N
3048876,R3P3DQ2CLQQIGU,2.0,3.0,47.0,N,N
4004778,R27R3VIGCDKC6C,4.0,4.0,34.0,N,N
3554926,R2NI4JIEF8WD5G,1.0,14.0,39.0,N,N

In [5]:
vine_helpful = vine_total_votes[vine_total_votes['helpful_votes']/vine_total_votes['total_votes']>=0.5]
vine_helpful.sample(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
3255270,R12RKXGMH6GKBV,4.0,54.0,60.0,N,N
1920561,R30HACFZ78LWV3,5.0,133.0,147.0,N,N
3557241,R3PQNFK09QREUG,3.0,18.0,20.0,N,N
3320592,R1PHMFAQDUDNGA,5.0,102.0,113.0,N,N
3716616,R2XXPB5ZWHHL2U,1.0,16.0,27.0,N,N
3204775,R2EXEVENS57H3Y,5.0,27.0,28.0,N,N
4736455,R3V1L7WVRCL93T,3.0,33.0,37.0,N,N
4730705,R16P7GOT4LX1UM,4.0,32.0,32.0,N,N
2439135,R297U9SHYJNAPM,5.0,65.0,68.0,N,N
3504954,ROZ1804WTY6V1,5.0,60.0,62.0,N,N

In [7]:
vine_paid = vine_helpful[vine_helpful['vine'] == 'Y']
vine_paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2279918,R84VUCDBCI29U,3.0,18.0,28.0,Y,N
2309315,R4V3ICFDTIDIF,4.0,20.0,21.0,Y,N
2316381,R1JZ0JAPW83WFS,4.0,54.0,58.0,Y,N
2520261,R1XH7EA97FAVP7,3.0,35.0,44.0,Y,N
2521506,R1482JAU1ZR7QH,4.0,15.0,22.0,Y,N

In [8]:
vine_unpaid = vine_helpful[vine_helpful['vine'] == 'N']
vine_unpaid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
168,R2SHXRL6SL1GC9,3.0,25.0,26.0,N,Y
521,R2ZC033X86YOY8,5.0,25.0,26.0,N,N
761,R2736RJGCOSL80,5.0,19.0,20.0,N,Y
1163,RRY5DJ6J9BKAX,5.0,19.0,21.0,N,Y
1169,R2P4PJJ2ROTPBM,5.0,46.0,48.0,N,N

In [13]:
total_reviews_paid = len(vine_paid.index)
total_five_star_paid = len(vine_paid[vine_paid['star_rating'] == 5].index)
percent_five_star_paid = total_five_star_paid / total_reviews_paid

In [14]:
total_reviews_unpaid = len(vine_unpaid['review_id'].index)
total_five_star_unpaid = len(vine_unpaid[vine_unpaid['star_rating'] == 5].index)
percent_five_star_unpaid = total_five_star_unpaid / total_reviews_unpaid

In [27]:
print(f'Total Vine reviews: {total_reviews_paid}\nTotal 5-star Vine reviews: {total_five_star_paid}')

Total Vine reviews: 7
Total 5-star Vine reviews: 0

In [28]:
print(f'Total non-Vine reviews: {total_reviews_unpaid}\nTotal 5-star non-Vine reviews: {total_five_star_unpaid}')

Total non-Vine reviews: 105979
Total 5-star non-Vine reviews: 67580

In [29]:
print(f'Percent of Vine reviews with 5 star: {percent_five_star_paid}\nPercent of non-Vine reviews with 5 star: {percent_five_star_unpaid}')

Percent of Vine reviews with 5 star: 0.0
Percent of non-Vine reviews with 5 star: 0.6376735013540419

In [31]:
vine_paid.describe()

       star_rating  helpful_votes  total_votes
count     7.000000       7.000000     7.000000
mean      3.571429      26.857143    31.714286
std       0.534522      13.582201    14.032276
min       3.000000      15.000000    21.000000
25%       3.000000      19.000000    22.000000
50%       4.000000      21.000000    27.000000
75%       4.000000      30.000000    36.000000
max       4.000000      54.000000    58.000000

In [32]:
vine_unpaid.describe()

         star_rating  helpful_votes    total_votes
count  105979.000000  105979.000000  105979.000000
mean        4.203021      34.486323      38.640674
std         1.284707      35.853572      38.399905
min         1.000000      10.000000      20.000000
25%         4.000000      20.000000      23.000000
50%         5.000000      25.000000      28.000000
75%         5.000000      36.000000      40.000000
max         5.000000    2181.000000    2246.000000

In [34]:
vine_df['vine'].value_counts()

N    4749607
Y       1933
Name: vine, dtype: int64